/* Current red shade: #ff4c4c */

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

:root { 
	--primaryColor: #ff4c4c;
	--secondaryColor: #ffec80; 
}

/************
* Standard. *
************/
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	text-align: justify;
    margin: 0;
    padding: 0;
    background-color: var(--primaryColor);
}

a
{
	color: var(--primaryColor);
}

a:hover
{
	color: white;
	color: var(--primaryColor);
	background-color: var(--secondaryColor);;
	border-radius: 0.25em;
}

::selection 
{
	background: var(--secondaryColor);
}

::-moz-selection 
{
	background: var(--secondaryColor);
}

/**********
* Header. *
**********/
.headerWrapper
{
	text-align: center;
	background-color: var(--primaryColor);
	padding-top: 2em;
	padding-bottom: 2em;
}


/********
* Logo. *
********/
.ImageLogo
{
	width: 6em;
	padding-bottom: 1em;
}

.logo
{
	letter-spacing: 0.1em;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

.logoLink
{
	color: white;
	text-decoration: none;
}

.logoLink:hover
{
	background-color: transparent;
	color: white;
}

.logoDot
{
	/* Old, not animated, code
	color: var(--secondaryColor); 
	*/

	/* Animation */
	/* Code taken from: https://codepen.io/metagrapher/pen/tgcLl */
	animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 50s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: yellow;}
      50%  {background: blue;}
      75%  {background: green;}
      100% {background: red;}
    }
}


/**************
* Navigation. *
**************/
.navigation
{
	color: white;
	padding-left: 1em;
	padding-right: 1em;
}

.navigation a 
{
	color: white;
}

.navigation a:hover
{
	color: white;
	color: var(--primaryColor);
	background-color: var(--secondaryColor);;
	border-radius: 0.25em;
}

.selected
{
	background-color: white;
	text-decoration: underline;
    border-radius: 0.25em;
}

a.selected
{
	color: var(--primaryColor);
}

a.selected:hover
{
	background-color: white;
	color: var(--primaryColor);
}

/**********
* Footer. *
**********/
.footer 
{
	color: white;
	background-color: var(--primaryColor);
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;
}

.footer a
{
	color: white;
}

.footer a:hover
{
	color: white;
	color: var(--primaryColor);
	background-color: var(--secondaryColor);;
	border-radius: 0.25em;
}

.selected
{
	background-color: white;
	text-decoration: underline;
    border-radius: 0.25em;
}

a.selected
{
	color: var(--primaryColor);
}

a.selected:hover
{
	background-color: white;
	color: var(--primaryColor);
}

/************
* Headings. *
************/
h1
{
	font-family: 'PT Sans', sans-serif;
	padding-top: 0.75em;
	font-size: 1.1em;
    font-weight: bold;
}


/***********
* Content. *
***********/
.contentWrapperBackground {
	background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contentWrapper
{
	background-color: white;
	margin: 0 auto;
	padding-left: 1em;
	padding-right: 1em;
	width: 38em;
}


/********************
* Images and logos. *
********************/
.img
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.imgTop
{
    margin-bottom: 2em;
}

img.logo
{
    display: block;
	margin: 0 auto;
	width: 10em;
}

img.text
{
    display: block;
	margin: 0 auto;
	width: 100%;
}

img.profile
{
    display: block;
	margin: 0 auto;
	min-width: 40%;
    max-width: 40%;
}

.icon
{
	width: 1em;
}

.iconJekyll
{
	width: 0.5em;
}


/********************
* Embed containers. *
********************/
.soundCloud
{
	width: 70%; 
	height: 250; 
}

.embed-container-YouTube169
{ 
	position: relative; 
	padding-bottom: 50.5%;
	height: 0; 
	overflow: hidden; 
	max-width: 90%;
} 
.embed-container-YouTube169 iframe, 
.embed-container-YouTube169 object, 
.embed-container-YouTube169 embed 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


.embed-container-YouTube235
{ 
	position: relative; 
	padding-bottom: 36.75%;
	/* padding-bottom: 36%; */
	height: 0; 
	overflow: hidden; 
	max-width: 90%; 
} 
.embed-container-YouTube235 iframe, 
.embed-container-YouTube235 object, 
.embed-container-YouTube235 embed 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.embed-container-YouTube235_alt
{ 
	position: relative; 
	padding-bottom: 36%;
	/* padding-bottom: 36%; */
	height: 0; 
	overflow: hidden; 
	max-width: 90%; 
} 
.embed-container-YouTube235_alt iframe, 
.embed-container-YouTube235_alt object, 
.embed-container-YouTube235_alt embed 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.embed-container-Vimeo
{ 
	position: relative; 
	padding-bottom: 39%; 
	height: 0; 
	overflow: hidden; 
	max-width: 90%; 
} 
.embed-container-Vimeo iframe, 
.embed-container-Vimeo object, 
.embed-container-Vimeo embed 
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


/**************
* Responsive. *
**************/
@media only screen and (min-width: 1px) and (max-width: 500px) 
{
	
	body
	{
		text-align: left;
	}

	.textBlock
	{
		text-align: left;
	}

	.embed-container 
	{ 
		padding-bottom: 40.00%; 
		max-width: 95%; 
	} 
}

@media only screen and (min-width: 1px) and (max-width: 800px) 
{

	body 
	{
		font-size: 1em;
		text-align: justify;
	}

	.contentWrapper
	{
    	margin-left: auto;
    	margin-right: auto;
		padding: 0em;
		border: 0em;
		width: 97.5%;
	}

	.logo
	{
		text-decoration: none;
 	   	margin-left: auto;
    	margin-right: auto;
		font-size: 1.7em;
		font-weight: 700;
		text-align: center;
	}

	.navigation
	{
    	margin-left: auto;
    	margin-right: auto;
		text-align: center;
	}
	
	.textBlock
	{
		text-align: justify;
	}
}

@media only screen and (max-device-width: 600px)
{
	img.profile
	{
		min-width: 60%;
		max-width: 60%;
	}

	.soundCloud
	{
		width: 100%; 
		height: 450; 
	}
}

@media only screen and (max-device-width: 600px) and (orientation:portrait)
{

	body
	{
		font-size: 1.15em;
	}

	.textBlock
	{
		text-align: left;
	}

	.contentWrapper
	{
    	margin-left: auto;
    	margin-right: auto;
		padding: 0em;
		border: 0em;
		width: 97.5%;
	}

	.footer
	{
		font-size: 0.8em;
	}
}

@media only screen and (max-device-width: 600px) and (orientation:landscape)
{

	body
	{
		font-size: 1em;
	}

	.textBlock
	{
		text-align: left;
	}

	.contentWrapper
	{
    	margin-left: auto;
    	margin-right: auto;
		padding: 0em;
		border: 0em;
		width: 95%;
	}
}