<br>
<br>
<div class=footer>
<center><a href="/about/" {% if page.title == "About"%}class=selected{% endif %}>about</a> | <a href="/texts/" {% if page.title == "Texts"%}class=selected{% endif %}>texts</a> | <a href="/articles/" {% if page.title == "Articles"%}class=selected{% endif %}>articles</a> | <a href="/movies/" {% if page.title == "Movies"%}class=selected{% endif %}>movies</a> | <a href="/music/" {% if page.title == "Music"%}class=selected{% endif %}>music</a> | <a href="/software/" {% if page.title == "Software"%}class=selected{% endif %}>software</a><br><a href="" class=selectedFake>English</a> | Swedish (coming soon)<br>© Martin Larsson, {{ 'now' | date: "%Y" }}</center>
</div>