<br>
<br>
<div class=footer>
<center><a href="/about/" {% if page.title == "About"%}{% include selected.html %}{% endif %}>about</a> | <a href="/essays/" {% if page.title == "Essays"%}{% include selected.html %}{% endif %}>essays</a> | <a href="/articles/" {% if page.title == "Articles"%}{% include selected.html %}{% endif %}>articles</a> | <a href="/movies/" {% if page.title == "Movies"%}{% include selected.html %}{% endif %}>movies</a> | <a href="/music/" {% if page.title == "Music"%}{% include selected.html %}{% endif %}>music</a> | <a href="/software/" {% if page.title == "Software"%}{% include selected.html %}{% endif %}>software</a><br><a href="#" {% include selected.html %}>English</a> | Swedish<br>© Martin Larsson, {{ 'now' | date: "%Y" }}</center>
</div>