<div class=navigation>
	<nav>
		I'm <span {% if page.title == "About"%}class=selected{% endif %}><a href="/about/">Martin Asperholm</a></span>. I write <span {% if page.title == "Texts"%}class=selected{% endif %}><a href="/texts/">texts</a></span>, make <span {% if page.title == "Movies"%}class=selected{% endif %}><a href="/movies/">movies</a></span>, create <span {% if page.title == "Music"%}class=selected{% endif %}><a href="/music/">music</a></span>, and code <span {% if page.title == "Software"%}class=selected{% endif %}><a href="/software/">software</a></span>.
	</nav>
</div>