<div class=navigation>
	<nav>
		I'm <a href="/about/" {% if page.title == "About"%}class=selected{% endif %}>Martin Asperholm</a>. I write <a href="/texts/" {% if page.title == "Texts"%}class=selected{% endif %}>texts</a>, make <a href="/movies/" {% if page.title == "Movies"%}class=selected{% endif %}>movies</a>, create <a href="/music/" {% if page.title == "Music"%}class=selected{% endif %}>music</a>, and code <a href="/software/" {% if page.title == "Software"%}class=selected{% endif %}>software</a>.
	</nav>
</div>