<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} &middot; {% endif %}Martin Asperholm</title>
	<link rel="shortcut icon" href="/favicon.png" />
	<link rel="stylesheet" href="/style.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{page.meta}}">
</head>

<script>
	document.onreadystatechange = function()
	{
    	var html = document.getElementsByTagName('html')[0];
    	var tmp1 = "--animationStartShift: -";
		var d = new Date();
		var tmp2 = new Date().getTime() / 1000;
    	var tmp3 = "s"
    	// html.style.cssText = "--animationStartShift: -0s";
    	html.style.cssText = tmp1.concat(tmp2,tmp3)
  	}
</script>
