<html>

	<head>
		<title>Martin Larsson</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css" type="text/css">
	</head>

	<body>
		<div class=wrapper>

			<div class=logo><a href="/index.html" class=logo>ML<span class="logoDot">.</span></a></div>

			<div class=navigation>
				<nav>
	  				I'm <a href="/index.html" {% if page.title == "About"%}{% include selected.html %}{% endif %}>Martin Larsson</a>. I write <a href="/essays.html" {% if page.title == "Essays"%}{% include selected.html %}{% endif %}>essays</a>, produce <a href="/articles.html" {% if page.title == "Articles"%}{% include selected.html %}{% endif %}>articles</a>, make <a href="/movies.html" {% if page.title == "Movies"%}{% include selected.html %}{% endif %}>movies</a>, create <a href="/music.html" {% if page.title == "Music"%}{% include selected.html %}{% endif %}>music</a>, and code <a href="/software.html" {% if page.title == "Software"%}{% include selected.html %}{% endif %}>software</a>. This is my internet repository. I write in <a href="#" {% include selected.html %}>English</a> and (soon in) Swedish.
				</nav>
			</div>
			<div class="textBlock">
				{{content}}
			</div>
			<br>
			<br>
			<center><a href="/index.html" {% if page.title == "About"%}{% include selected.html %}{% endif %}>home</a> | <a href="/essays.html" {% if page.title == "Essays"%}{% include selected.html %}{% endif %}>essays</a> | <a href="/articles.html" {% if page.title == "Articles"%}{% include selected.html %}{% endif %}>articles</a> | <a href="/movies.html" {% if page.title == "Movies"%}{% include selected.html %}{% endif %}>movies</a> | <a href="/music.html" {% if page.title == "Music"%}{% include selected.html %}{% endif %}>music</a> | <a href="/software.html" {% if page.title == "Software"%}{% include selected.html %}{% endif %}>software</a><br><a href="#" {% include selected.html %}>english</a> | swedish<br>© Martin Larsson, {{ 'now' | date: "%Y" }}</center>
		</div>
	</body>
</html>