<html>
	<head>
		<title>{% if page.title %}{{page.title}} &middot; {% endif %}Texts &middot; Martin Asperholm</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/style.css" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{page.meta}}">
  		{% include googleAnalytics.html %}
	</head>

	<body>
		<div class=wrapper>
			{% include logo.html %}
			<br>
			<br>
			<div class=postTitle>{{ page.title }}<div>
			<div class=postDate>{{ page.date | date: '%B %d, %Y' }}</div>
			<br>
			<div class="textBlock">
				<div class=textBlock>{{content}}</div>
			</div>
			<br>
			<br>
			{% include divider.html %}
			{% include footer.html %}
		</div>
	</body>
</html>